@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-transparent">
    <ul>
        @if (Model.News.Count == 0)
        {
            <b>Brak wiadomosci!</b>
        }
        else
        {
            foreach (var item in Model.News)
            {
                <li>
                    <div class="panel panel-info">
                        <b>@item.Title</b>
                    </div>
                    <div class="panel-body">
                        <b>@item.Content</b>
                    </div>
                </li>
            }
        }

    </ul>

</div>